@use 'globals' as *;

a {
  color: var(--link-color);
  &:hover,
  &:focus {
    color: var(--active-link-color);
  }
}

$mobile-menu-max: toRem(500);

$mobile-menu: 'width <= #{$mobile-menu-max}';
$desktop-menu: 'width > #{$mobile-menu-max}';

.main-navigation {
  text-transform: uppercase;
  font-family: var(--font-karla);
  margin-inline-start: auto;
  position: relative;

  &--mobile {
    @media ($desktop-menu) {
      display: none;
    }
  }
  &--desktop {
    @media ($mobile-menu) {
      display: none;
    }
  }

  &__button {
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 1em;
    &--mobile {
      gap: 0.5em;
      padding: 0;
      margin-block-start: 1rem;
      margin-inline: 0;
      position: absolute;
      flex-direction: column;
    }
  }

  &__link {
    text-decoration: none;
    transition: color 0.5s ease;

    &--current,
    &:hover,
    &:focus {
      color: var(--black);
    }
  }
}
