.newsletter-form {
  display: grid;
  gap: 1rem;
  justify-content: start;
  border: 2px solid var(--text-color);
  width: max-content;
  max-width: 100%;
  padding: 1rem;

  &__input-wrapper {
    label {
      font-weight: bold;
      display: block;
    }
  }

  &__mode {
    display: flex;
    gap: 1rem;
  }
}
